#text-inner input, textarea { width: 100% }
h1, h2 { border: none }
#text-inner h1 { margin: 2px 0 0 }
#ta-cont {
	background: #000;
	margin-bottom: 8px;
	position: relative;
	overflow: auto;
	border: 1px solid #fff;
}
#validator, #validator-display {
	display: block;
	min-height: 100%;
	padding: 0;
	margin: 2px;
	color: #fff;
	background: transparent;
	font-family: monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 1rem;
	line-height: 1.2;
	resize: none;
	outline: none;
	border: none;
	padding-left: 4px;
}
#validator {
	position: absolute;
	top: 0; right: 0;
	z-index: 1;
	color: transparent;
}
#validator-display {
	width: calc(100% - 4px);
	border-left: 1px solid #444;
	padding-right: 1px;
}
#caret {
	display: inline-block;
	position: absolute;
	background: #fff;
	width: 1px;
}
#caret[hidden] { display: none }
#text textarea, #ta-cont { height: 400px }
#cntrls {
	padding: 4px;
	background: #0ff;
}
#cntrls button {
	height: 20px;
	width: 120px;
}
#cntrls form {
	display: inline;
	margin: 0;
}