fieldset { padding: 0 0.5em }
#form > div { overflow: hidden }
#types label, #tags label { display: table }
h2 label { display: inline-flex }
h2 label input {
	flex-grow: 1;
	margin-left: 0.5ch;
}
aside {
	background: rgba(255, 255, 100, 0.5);
	padding: 0.3em;
	border-radius: 0.25em;
}
aside h2 { margin-top: 0 }
aside:not(:first-of-type), fieldset:not(:first-of-type), #form > div { margin-top: 0.5em }
@media (min-width: 900px) {
	#form > :not(aside) { flex: 1 1 calc(90% - 40ch) }
	#form {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	aside {
		width: calc(10% + 36ch);
		margin-right: 0.4em;
	}
	aside:not(:first-of-type), fieldset:not(:first-of-type), #form > div { margin-top: 1.5em }
}
#duplist, aside { font-size: 0.93em }
@media (max-width: 750px) {
	#duplist, aside { font-size: calc((2 / 750 * 100vw + 14em / 16) * 0.93) }
}
.ta-cont {
	position: relative;
	width: 100%;
	min-height: 22em;
	border: none;
	overflow: visible;
}
.ta-cont pre {
	padding: 3px;
	visibility: hidden;
}
.ta-cont pre, textarea {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	font-size: 0.9em;
	font-family: inherit;
	line-height: 1.2;
	white-space: pre-wrap;
}
textarea {
	height: 100%;
	resize: none;
}
#step4 h3 { margin-bottom: 0.25em }
#types, #tags, #options { padding-left: 2em }
#langsug {
	font-size: 1rem;
	padding: 0.4em 0.3em;
	background: #eee;
	z-index: 2;
}
#langsug span {
	cursor: pointer;
	background: #afa;
	padding: 0.1em 0.4em;
	box-shadow: 1px 1px 1px #444;
}
fieldset.hide, aside.hide:not(:hover) { opacity: 0.15 }
fieldset.hide { pointer-events: none }
fieldset, aside, #preview { transition: opacity 0.5s }
#preview[hidden] { opacity: 0 }
#duplist { padding-left: 1.5em }
#duplist:empty { padding: 0 }
#duplist:empty::after {
	content: 'Loading possible duplicates…';
	color: #666;
	font-size: 0.8em;
}
.hide #duplist::after { content: '(Enter a title and language)' }
#tags:empty::after {
	content: '(Enter a language)';
	color: #666;
	font-size: 0.8em;
}
#preview {
	position: fixed;
	overflow: hidden;
	z-index: 1;
	background: #ddd;
}
#preview h1 small { cursor: pointer }
.tint::after {
	content: '';
	display: block; position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.tint #nav, .tint #footer, .tint #content > :not(article) {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}
#submit {
	font-size: 1.1em;
	color: #fff;
	background: #04f;
	padding: 0.3em 1.3em;
	border-radius: 4px;
	transition: background 0.2s;
	margin-top: 12px;
	border: 1px solid #000;
	cursor: pointer;
}
#submit:hover {
	background: #6cf;
	color: #000;
	transition: background 0.1s;
}
#submit:active, #submit.working { background: #2af }
#err1.tag-warning { background: #ff0 }