.clr { clear: left }
.err {
	position: absolute;
	padding: 8px;
	width: 300px;
	background: #f00;
	z-index: 1;
}
.err:empty { display: none }
#answer-error { margin-left: 4em }
.q-editing h1 { border-bottom: none }
#q-content, .a-content {
	border-left: 1px solid #aaa;
	padding-left: 6px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
#q-body, .a-body { margin-bottom: 8px }
.ctrl + * { margin-left: 32px }
#q-edit, .a-edit { padding-left: 2px}
#q-edit textarea, .a-edit textarea, #answerta {
	width: 100%;
	max-height: 70vmin;
	min-height: 200px;
}
#title-edit {
	font-size: 0.8em;
	width: 100%;
	padding-left: 4px;
	margin-bottom: -0.18em;
}
#langsug {
	padding: 8px 3px 4px;
	background: #eee;
	margin-top: -5px;
	box-shadow: 1px 3px 3px #444;
}
#langsug span {
	cursor: pointer;
	background: #afa;
	padding: 2px 6px;
	box-shadow: 1px 1px 1px #444;
}
.comments { margin: 6px 0 }
code.blk:empty { display: none }
.comment .sctrls { padding-right: 0.3em }
.comment .ctrl {
	vertical-align: top;
	font-size: 1.2em;
	line-height: 0.8em;
}
.comment .ctrl { color: #006 }
.comment:not(:hover) .ctrl { color: #15f }
.ctrl:active { color: #02d }
:not(.sctrls) > .up, :not(.sctrls) > .dn { margin-bottom: 4px }
.up, .dn { fill: #999 }
.up:hover, .dn:hover {
	fill: #aaa;
	transition: fill 0.1s;
}
.up:active, .dn:active {
	fill: #888;
	transition: none;
}
.up.clkd, .dn.clkd { fill: #f90 }
.ctrl .fl { margin-bottom: 12px }
.fl { fill: #f66 }
.fl:hover {
	fill: #f44;
	transition: fill 0.2s;
}
.fl.clkd { fill: #f00 }
.fl:active {
	transition: fill 0.1s;
	fill: #c00;
}
.ctrlicon:not([hidden]) { display: block }
.ctrlicon {
	margin: 4px -3px;
	padding-top: 1px; padding-left: 5px;
	height: 25px; width: 25px;
	font-size: 20px; font-weight: bold;
	text-decoration: none;
	border-radius: 50%;
	background: #fff;
}
.ctrlicon:hover, .ctrlicon:active { box-shadow: 0.5px 0.5px 2px #000 }
.ctrlicon:active { background: #ddd }
.editbtn, .editbtn:hover { color: #0b0 }
.editbtn:visited { color: #090 }
.delbtn, .delbtn:hover { color: #f00 }
.commentform:target + .addcomment { display: none }
#answer, #answerta { z-index: 1 }
#answerta:focus + #answertips, #answertips:hover {
	z-index: 1;
	opacity: 1;
	transition: opacity 0.7s;
}
#answertips {
	z-index: -1;
	bottom: 100%; left: 0;
	background: #ffa;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	border: 1px solid #888;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}
.answer:not(:first-of-type) { margin-top: 8px }