body { line-height: 1.4 }
#nav, #footer { transition: opacity 0.2s 0.2s }
#nav:not(:hover), #footer:not(:hover) { opacity: 0.5 }
h1 {
	border-bottom: none;
	font-size: 2em;
	padding-top: 24px;
	padding-bottom: 12px;
	animation: fadein 3s;
}
#content > p, h1, h2 {
	text-align: center;
	padding: 0 5%;
}
em {
	color: #f96;
	font-style: normal;
}
@media (min-width: 780px) {
	.half { width: 49% }
	.half:first-of-type { float: left }
	.half:last-of-type { float: right }
	.row::after {
		content: '';
		display: table;
		clear: both;
	}
}
.row { margin-top: 32px }
.half { padding: 0 1% }
ul { padding-left: 48px }
#quality-b ul {
	padding-left: 12px;
	list-style-type: none;
}
:not(#privleges-b) > ul > li { padding: 4px 0 }
svg { vertical-align: middle }
#overview { animation: fadeinb 4s }
#q-ov { animation: fadeinc 4s }
#l-ov { animation: fadeind 4s }
#c-ov { animation: fadeine 4s }
#quality, #community { animation: fadeinf 4s }
#quality-b, #community-b { animation: fadeinf 4s }
#moderation, #privleges { animation: fadeing 4s }
#moderation-b, #privleges-b { animation: fadeing 4s }
@keyframes fadein {
	from { opacity: 0 }
}
@keyframes fadeinb {
	from { opacity: 0 }
	20% { opacity: 0 }
	80% { opacity: 1 }
}
@keyframes fadeinc {
	from { opacity: 0 }
	25% { opacity: 0 }
	80% { opacity: 1 }
}
@keyframes fadeind {
	from { opacity: 0 }
	29% { opacity: 0 }
	80% { opacity: 1 }
}
@keyframes fadeine {
	from { opacity: 0 }
	34% { opacity: 0 }
	80% { opacity: 1 }
}
@keyframes fadeinf {
	from { opacity: 0 }
	38% { opacity: 0 }
}
@keyframes fadeing {
	from { opacity: 0 }
	40% { opacity: 0 }
}