#part2 { transition: opacity 0.5s }
.hide { opacity: 0 }
form div { margin: 0.2em 0 }
#create:not(:checked) ~ #ccreate { display: none }
#pass-bar-outer, #pass-bar { height: 6px }
#pass-bar-outer {
	opacity: 0;
	transition: opacity 0.2s;
	margin-bottom: 4px;
	background: #000;
	width: 18em;
	max-width: 100%;
}
#submit, #github-button {
	display: block;
	margin: 8px 0;
	font-size: 1rem;
	padding: 4px 8px;
	background: #6cf;
	border-radius: 4px;
	border: 0.5px solid #666;
	transition: background-color 0.2s;
	box-shadow: 1px 1px 3px #666;
}
#submit:hover, #github-button:hover { background: #7df }
#submit:active, #github-button:active { background: #0bf }
#submit:disabled {
	background: #fff;
	transition: none;
}
#github-button {
	font-size: 1.4rem;
	text-decoration: none;
	display: inline-block;
}
#github-button svg {
	margin-right: 6px;
	vertical-align: middle;
}
#sec::before, #sec input { font-size: 1rem }
#sec input { width: 10em }
.bumar { margin-top: 24px }