*::-webkit-input-placeholder { color: #999 }
*::-moz-placeholder { color: #999 }
body { color: #eee }
* {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
@keyframes target {
	0%, 30% { background: #950 }
}
#content, #sidebar, #footer { background: transparent }
.hglt, .desc, .comment, article, code { background: #333 }
.shglt { background: #444 }
.grey, a.small, .c-sig, .ctrls a { color: #aaa }
.disabled, a.disabled:hover, a.disabled:active { color: #666 }
.qlist-tags .rit { padding-top: 0.5em }
.comment.editing { background: #8cf }
.c-sig > * { color: #ccc }
blockquote { border-left: 2px solid #fa0 }
a:not(.tag), .ctrl, a.blk, .diamond, h1, h2, h3, h4, h5, h6, code { color: #fff }
a:visited { color: #ccc }
a:hover, .ctrl:hover { color: #4ee }
a:active, .ctrl:active { color: #faa }
.user a { color: #000 }
.user a:hover { color: #15f }
.user a:active { color: #02d }
a.blk:hover, a.blk:active { background: #222 }
a.blk:hover:not(:active) { color: #ff2 }
del { background: #800 }
ins { background: #060 }