html { background: linear-gradient(rgba(20, 20, 20, 0.85), rgba(20, 20, 20, 0.85)), url('/a/background.png') no-repeat left center fixed }
body {
	font-family: helvetica, sans-serif;
	-webkit-text-size-adjust: none;
	tab-size: 4;
	line-height: 1.2;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
::-webkit-input-placeholder {
	color: #555;
	font-size: 0.85em;
	line-height: 1.5em;
}
@keyframes target {
	0%, 30% {
		background: #f70;
	}
}
@-webkit-keyframes target {
	0%, 30% {
		background: #f70;
	}
}
:not(.target):target {
	animation: target 1s;
	-webkit-animation: target 1s;
}
.blk, textarea { display: block }
.ib { display: inline-block }
.inline, summary * { display: inline }
.flex { display: -webkit-flex; display: flex }
.flex > * { webkit-flex: 1; flex: 1 }
[hidden], .target:not(:target), #content > .sctrls { display: none }
.rel, .comment { position: relative }
.abs, .ctrls { position: absolute }
.fullwidth, input[type=text].fullwidth, input[type=password].fullwidth { width: 100% }
.maxwidth, img, input { max-width: 100% }
.rit, .user, h1 small, h2 small, .c-sig { float: right }
.lft, .row > :not(.rit):not(.sidebar):not(.half):not(.program), .user > * { float: left }
.nofloat { float: none }
.noumar, :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(article):not(small):not(blockquote) > :first-child:not(span), .comment > :last-child { margin-top: 0 }
.mar { margin: 6px }
.nomar, body, input, .comment .hover *, fieldset, textarea, .error * { margin: 0 }
.tumar, form *, .comment > blockquote:nth-child(2), .comment > pre:nth-child(2) { margin-top: 2px }
.sumar:not(:first-child), :not(img) + .desc, .blk { margin-top: 4px }
.umar:not(:first-child), :not(.row):not(.flex):not(.resp-flex) > section:not(:first-child), article:not(:first-child), form:not([action="/search/"]), #footer { margin-top: 6px }
.bumar:not(:first-child), h1:not(:first-child), fieldset:not(:first-of-type) { margin-top: 8px }
.bmar, .error, .half, #content, aside.rit, #notifs li { margin-bottom: 6px }
.lftpad, .user { margin-left: 6px }
.indt { margin-left: 32px }
.pad, .notice, a.center-text.blk, .desc, #content, #sidebar, #footer, .error, .popup, code.blk, .comment, aside.rit { padding: 4px }
.noborder, iframe { border: none }
.scrl { overflow: auto }
.scrlx { overflow-x: auto }
.scrly, #sidebar { overflow-y: auto }
.noscrl, .comment > :last-child, blockquote { overflow: hidden }
.br, .desc, aside.rit { border-radius: 4px }
.hglt, .desc, .comment, article { background: rgba(255, 255, 255, 0.4) }
.shglt, #content, #sidebar, #footer { background: rgba(255, 255, 255, 0.8) }
code, iframe:not([seamless]) { background: #fff }
code { padding: 2px; }
.mono, .ctrls { font-family: monospace }
.ctrls a { padding: 0 2px }
.grey, a.small, .c-sig, .ctrls a { color: #444 }
.disabled, a.disabled:hover, a.disabled:active { color: #999 }
small, a.small, a.grey, .c-sig > *, .c-sig, .ctrls a, footer, #nav a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .user a, .c-sig a, .ctrls a { text-decoration: none }
small, a.small, footer, .ctrls a { font-size: 0.85em }
.c-sig { font: 0.8rem helvetica, sans-serif }
abbr { border-bottom: 1px dashed #222 }
.reference { color: #080 }
.red { color: #f00 }
.large { font-size: 1.2em }
.larger, .ctrls { font-size: 1.4em }
.column-small { -webkit-column-width: 10em; -moz-column-width: 10em; column-width: 10em }
.column-medium { -webkit-column-width: 16em; -moz-column-width: 16em; column-width: 16em }
.column-large { -webkit-column-width: 24em; -moz-column-width: 24em; column-width: 24em }
del { background: #f88 }
ins { background: #8f8 }
li {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
}
.spoiler { transition: color 0.2s }
.spoiler:not(:hover) { color: transparent }
.spoiler:not(:hover) *, .spoiler:hover::before { opacity: 0 }
.spoiler::before {
	content: 'hover to see spoiler';
	position: absolute;
	padding: 0.3em;
	color: #aaa;
	transition: opacity 0.2s;
}
code .line::before {
	left: 0;
	content: attr(data-linenum);
	color: #aaa;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	padding: 0 2px 0 4px;
	position: absolute;
}
code .line.warning::before {
	color: #ff6;
	font-weight: bold;
}
#ta-cont.line-dig0 { padding-left: 0.8em }
#ta-cont.line-dig1 { padding-left: 1.4em }
#ta-cont.line-dig2 { padding-left: 2em }
#ta-cont.line-dig3 { padding-left: 2.6em }
#ta-cont.line-dig4 { padding-left: 3.2em }
#ta-cont.line-dig5 { padding-left: 3.8em }
#ta-cont.line-dig6 { padding-left: 4.4em }
#ta-cont.line-dig7 { padding-left: 5em }
#ta-cont.line-dig0 #code { width: calc(100% - 0.8rem - 5px) }
#ta-cont.line-dig1 #code { width: calc(100% - 1.4rem - 5px) }
#ta-cont.line-dig2 #code { width: calc(100% - 2rem - 5px) }
#ta-cont.line-dig3 #code { width: calc(100% - 2.6rem - 5px) }
#ta-cont.line-dig4 #code { width: calc(100% - 3.2rem - 5px) }
#ta-cont.line-dig5 #code { width: calc(100% - 3.8rem - 5px) }
#ta-cont.line-dig6 #code { width: calc(100% - 4.4rem - 5px) }
#ta-cont.line-dig7 #code { width: calc(100% - 5rem - 5px) }
code .inline-comment { color: #888 }
code .keyword { color: #fd3 }
code .constant, code .string .escape { color: #df0 }
code .string { color: #6C3 }
code .regex { color: #ffa }
code .regex .open, code .regex .close, code .regex .modifier { color: #ff0 }
code .regex .escape { color: #afa }
code .regex .backreference { color: #0f0 }
code .regex .special { color: #faa }
code .regex .grouper { color: #fff }
code .regex .charclass { color: #ffd }
code .regex .charclass { background: #730 }
code .regex .charclass .range { color: #fed }
code .regex .charclass .punctuation { color: #f90 }
code .regex .quantifier { color: #2af }
code .regex .quantifier .punctuation { color: #8cf }
code .regex .modifier { font-weight: bold }
code .operator { color: #ff8 }
code .operator.assigns, code .equals { color: #8ff }
code .argument, code .number { color: #3df }
code .newvar { font-weight: bold }
code .function-name { color: #f60 }
code .function-call { color: #f90 }
code .prototype { color: #f00 }
code .punctuation, code .dot { color: #ddd }
code .capvar { color: #9ac }
code .browser { color: #9bd }
.connection-error {
	margin-top: 4px;
	background: red;
	color: #fff;
	font-size: 1.5em;
	padding: 2px 8px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	animation: fadein 0.5s;
	-webkit-animation: fadein 0.5s;
}
.connection-error a, .connection-error a:visited { color: #ffb }
.connection-error a:hover { color: #ffd }
.connection-error a:active { color: #fda }
.ctrls {
	top: 100%; right: -1px;
	z-index: 1;
	background: #cef;
	line-height: 16px;
	padding-bottom: 1px;
}
.comment:last-child:not(:first-child) .ctrls {
	top: auto;
	bottom: 100%;
}
.comment .sctrls {
	float: left;
	padding: 2px 2px 0 0;
	height: 16px;
}
.comment:not(:hover) .sctrls svg:not(.clkd) { opacity: 0.4 }
.comment img { max-height: 200px }
.c-sig { padding-left: 4px }
.c-sig > * { color: #666 }
.ctrls :hover, .diamond { color: #000 }
.ctrls :first-child.clkd { text-shadow: 1px 1px 1px #000; color: #e80 }
.ctrls :nth-child(2):not(:last-child).clkd { color: #0e0 }
.ctrls :last-child { font-size: 0.9em }
.tag {
	display: inline-block;
	text-decoration: none;
	padding: 2px 6px;
	margin-bottom: 4px;
	background: #afa;
	box-shadow: 1px 1px 2px #666;
	transition: background-color 0.1s;
}
.tag:hover {
	color: #000;
	background: #cfc;
}
input[type=text].large, input[type=search].large, input[type=password].large { font-size: 1.3em }
.comment > pre, .comment > blockquote, .comment > p { margin-bottom: 0 }
blockquote {
	border-left: 2px solid #f90;
	padding-left: 4px;
	margin: 0.3em 0 0.3em 2em;
}
code.blk {
	white-space: pre;
	max-height: 600px;
	max-width: 100%;
	overflow: auto;
	word-break: normal;
	hyphens: none;
	-webkit-hyphens: none;
}
.md-err {
	position: absolute;
	z-index: 2;
	display: inline-block;
	margin-top: -1.3em;
	background: #f00;
	color: #fff;
	padding: 2px 8px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	animation: fadein 0.5s;
	-webkit-animation: fadein 0.5s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
}
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
}
h1 small, h2 small { font-size: 0.85rem }
h1 small { margin: 0.5em }
h2 small { margin: 0.2em 0.2em 0 0 }
fieldset {
	padding: 0;
	border: none;
}
.popup {
	position: absolute;
	top: 6%; right: 6%; left: 6%;
	background: #fff;
	box-shadow: 1px 1px 8px #000;
}
.user {
	 background: #9ef;
	 color: #000;
	 min-width: 140px;
	 display: inline-block;
	 padding: 4px 8px 4px 4px;
	 text-align: left;
}
.user div {
	margin-left: 4px;
}
.user a { display: block }
.program {
	display: inline-block;
	vertical-align: top;
	max-width: 95%;
}
.program div {
	width: 600px;
	max-width: 100%;
	max-height: 400px;
	height: 28vw;
	min-height: 180px;
	overflow: auto;
}
.program iframe {
	width: 100%;
	height: calc(100% - 5px);
}
.program:nth-child(n+6) { display: none }
.lim-programs .program:nth-child(n+4) { display: none }
@media (min-width: 500px) {
	.program { max-width: 49% }
	.program:nth-child(-n+7) { display: inline-block }
}
@media (min-width: 900px) {
	.program { max-width: 33% }
	.program:nth-child(-n+10), .lim-programs .program:nth-child(4) { display: inline-block }
}
@media (min-width: 1300px) {
	.program { max-width: calc(25% - 4px) }
	.program div { height: 20vw }
	.program:nth-child(-n+13), .lim-programs .program:nth-child(5) { display: inline-block }
}
@media (min-width: 1700px) {
	.program { max-width: calc(20% - 4px) }
	.program div { height: 16vw }
	.program:nth-child(-n+16), .lim-programs .program:nth-child(6) { display: inline-block }
}
.comment { margin-top: 3px }
.comment #up, .comment #dn { width: 18px }
.comment .hover {
	float: left;
	opacity: 0.3;
	padding: 2px 2px 0 0;
	height: 16px;
}
.comment:hover .hover { opacity: 1 }
.comment .rit {
	color: #666;
	font-size: 0.9em;
}
ul, ol, p { margin: 0.3em 0 0.2em }
#err, .error {
	background: #f00;
	color: #fff;
}
.notice { background: #ff0 }
#err a { color: #fff }
#err > * {
	display: block;
	text-align: center;
	padding: 3em;
}
.center { margin: 0 auto }
.center-text, #footer, #nav { text-align: center }
.pre { white-space: pre-wrap }
.clear, footer, .clearfix::after, #content::after, #sidebar::after, .comment::after, nav::after, .row::after, .user::after {
	content: '';
	display: block;
	clear: both;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0.2em; margin-bottom: 0.2em;
	font-family: Tahoma, Helvetica;
}
h1:not(.title), h2:not(.title), h3:not(.title), h4:not(.title), h5:not(.title), h6:not(.title) {
	font-weight: normal;
	font-family: Verdana;
}
h1, aside h2, h2.underline { border-bottom: 1px solid #aaa }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit }
h1 {
	font-size: 1.5em;
	line-height: 1;
	padding-bottom: 1px;
	vertical-align: bottom;
}
.comment h1, hr { border-bottom: none }
.title { border: none }
h2, h1.title, article h1 { font-size: 1.3em }
h3, h2.title, article h2, article article h1 {
	margin-top: 0.5em;
	font-size: 1.1em;
}
a, .ctrl {
	color: #000;
	transition: color 0.1s;
	cursor: pointer;
}
a:visited { color: #444 }
a:hover, .ctrl:hover { color: #15f }
a:active, .ctrl:active { color: #02d }
a.red:hover { color: #f65 }
a.red:active { color: #c00 }
a.blk {
	color: #000;
	font-weight: bold;
}
a.blk:hover, a.blk:active { background: rgba(255, 255, 255, 0.2) }
a.blk:active { color: #00f }
input[type=text], input[type=password] { width: 18em }
input[type=text], input[type=number], input[type=search], input[type=password], textarea {
	font-family: helvetica;
	font-size: 1rem;
}
.score {
	float: left;
	display: block;
	margin-right: 4px;
	color: #f00;
	padding: 0 4px;
}
.score[data-score="0"] { display: none }
.score[data-score="1"] { color: #888 }
.score[data-score="2"] { color: #666 }
.score[data-score="3"] { color: #444 }
.score[data-score="4"] { color: #222 }
.score[data-score="5"] { color: #000 }
.score[data-score="6"] { color: #001 }
.score[data-score="7"] { color: #002 }
.score[data-score="8"] { color: #003 }
.score[data-score="9"] { color: #004 }
.score[data-score="10"] { color: #005 }
.score[data-score="11"] { color: #006 }
.score[data-score="12"] { color: #007 }
.score[data-score="13"] { color: #008 }
.score[data-score="14"] { color: #009 }
.score[data-score="15"] { color: #00a }
.score[data-score="16"] { color: #00b }
.score[data-score="17"] { color: #00c }
.score[data-score="18"] { color: #00d }
.score[data-score="19"] { color: #00e }
.score[data-score="20"] { color: #00f }
.score[data-score="21"] { color: #33f }
.score[data-score="22"] { color: #66f }
.score[data-score="23"] { color: #f90 }
.score[data-score="24"] { color: #f80 }
.score[data-score="25"] { color: #f70 }
.score[data-score="26"] { color: #f60 }
.score[data-score="27"] { color: #f50 }
.score[data-score="28"] { color: #f40 }
.score[data-score="29"] { color: #f30 }
.score[data-score="30"] { color: #f20 }
.score[data-score="31"] { color: #f10 }
.starcount {
	font-weight: bold;
	color: #d60;
	line-height: 1.2;
}
.starcount[data-count="0"] { display: none }
#nav {
	padding: 0 2px 6px 2px;
	font-size: 0;
	background: #000;
}
#nav * {
	padding: 0 4px;
	color: #ddd;
	font-weight: normal;
	font-size: 0.9rem;
	line-height: 1.5;
}
#logo {
	display: block;
	width: 180px;
	margin: 0 auto 4px;
	line-height: 0;
	max-width: 100%;
}
#nav form {
	padding: 4px 0;
	line-height: 1;
	display: inline-block;
}
#nav input {
	width: 160px;
	max-width: 100%;
	color: #000;
	font-size: 16px;
}
#nav input::-webkit-search-results-decoration { display: none }
@media screen and(-webkit-min-device-pixel-ratio: 0) { /* Safari only */
	#nav input::-webkit-search-results-decoration { display: block }
}
#logo svg {
	max-width: 100%; max-height: 100%;
	padding: 4px 6px;
}
#content { padding-bottom: 24px }
#nav > .active { position: relative }
#nav .unread:not(.active) {
	background: #d00;
	color: #fff;
}
#nav .unread:not(.active):hover { background: #f00 }
#nav .unread:not(.active):active { background: #c00 }
@media (min-width: 380px) and (max-width: 799px) {
	#nav > :not(.active) + nav + a:nth-child(5):not(.active) { border-right: 1px solid #aaa }
}
@media (max-width: 799px) {
	#nav > a.active { text-decoration: underline }
	#nav nav > a.active { font-weight: bold }
	#nav :not(.active) + nav { display: none }
	#nav nav {
		background: #333;
		display: inline-block;
	}
}
@media (min-width: 140px) and (max-width: 240px) {
	#nav > .active + nav + :nth-child(5)::before, #nav > :not(.active) + nav + :nth-child(5)::after,
	#nav > .active + nav + :nth-child(7)::before, #nav > :not(.active) + nav + :nth-child(5)::after {
		white-space: pre;
		content: '\a';
	}
}
@media (min-width: 240px) and (max-width: 380px) {
	#nav > :nth-child(6)::before {
		white-space: pre;
		content: ' ';
	}
}
@media (min-width: 240px) and (max-width: 799px) {
	#nav a:not(#logo) { margin-top: 4px }
	#nav nav { margin-right: 6px }
	#nav form {
		margin: 0 3px;
		max-width: calc(100% - 12px);
	}
}
@media (min-width: 280px) and (max-width: 379px) {
	#nav > .active + nav + :nth-child(5)::after {
		white-space: pre;
		content: '\a';
	}
}
@media (max-width: 610px), (min-width: 750px) {
	#nav input { width: 184px }
}
@media (max-width: 700px) {
	.main { width: 100% }
	.sidebar.nonvital { display: none }
	.sidebar { margin-top: 8px }
}
@media (max-width: 600px) {
	body { font-size: 0.95em }
}
@media (max-width: 400px) {
	body { font-size: 0.9em }
}
aside.rit { background: rgba(255, 255, 100, 0.5) }
@media (min-width: 480px) {
	.resp-flex { display: -webkit-flex; display: flex }
	.resp-flex > * { webkit-flex: 1; flex: 1 }
}
@media (min-width: 550px) {
	section {
		padding: 4px;
		background: rgba(255, 255, 255, 0.4);
	}
	.resp-flex > section:not(:first-child) { margin-left: 6px }
}
@media (min-width: 701px) {
	.half { float: left }
	.half.rit, .half:not(.rit) + .half:last-child { float: right }
	.half { width: 49.5% }
	aside.rit {
		width: calc(10% + 300px);
		margin-left: 6px;
	}
}
@media (min-width: 380px) and (max-width: 1499px) {
	#nav {
		padding: 0;
		text-align: right;
	}
	#logo {
		float: left;
		width: 152px;
		margin: 0;
	}
	#nav nav { display: inline-block }
}
@media (min-width: 360px) {
	line {
		display: inline-block;
		width: 1px; height: 1.2em;
		background: #888;
		vertical-align: sub;
	}
}
@media (min-width: 800px) {
	#nav {
		padding: 0;
		background: #111;
	}
	#nav > a { transition: background 0.15s }
	#nav a:not(.active):hover {
		background: #262626;
		color: #fff;
	}
	#nav .active { color: #fff }
	#nav > a:active:not(.active), #nav > a.active { background: #000 }
	#nav nav > a {
		display: inline-block;
		line-height: 1.5;
	}
	#nav nav > a.active { background: #444 }
	#nav > *, #nav form {
		display: inline-block;
		padding: 0 12px;
		background: #1a1a1a;
		line-height: 2rem;
	}
	#logo {
		display: inline-block; position: relative;
		width: auto; height: 100%;
		margin: 0;
	}
	#logo:hover div { background: rgba(255, 255, 255, 0.3) }
	#logo:active div { background: rgba(0, 0, 0, 0.2) }
	#logo div {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		transition: background 0.1s;
		content: '';
	}
	#logo svg { padding-bottom: 4px }
}
@media (min-width: 800px) and (max-width: 1499px) {
	#cont { margin: 0 auto }
	#logo { height: 2rem }
	#nav > :nth-child(-n+5) { float: left }
	#nav > :nth-child(7) { border-left: 1px solid #444 }
	#nav > a:not(#logo) { border-right: 1px solid #444 }
	#nav nav {
		position: absolute;
		z-index: 1;
		top: 2rem;
		border-top: 1px solid #888;
	}
	#nav nav:nth-child(4) { left: calc(12rem + 43px) }
	#nav nav:nth-child(6) { left: calc(14.5rem + 72px) }
	#nav :not(:hover) + nav:not(:hover) { display: none }
	#logo svg { width: 9.4rem }
}
@media (min-width: 1500px) {
	html { background-size: cover }
	#cont { overflow: hidden }
	#content, #footer { margin: 6px 0 6px calc(4% + 150px) }
	#content:nth-child(2):nth-last-child(3) {
		float: left;
		width: calc(-250px + 80%);
	}
	#sidebar {
		float: right;
		width: calc(94px + 16%);
		margin: 6px 0;
	}
	#nav {
		position: absolute;
		display: table;
		left: 0;
		width: calc(4% + 144px); height: 200px;
		text-align: left;
		background: #161616;
	}
	#nav > :nth-child(7) { margin-top: 16px }
	#nav > *, #nav nav > * { width: 100% }
	#nav > :not(#logo), #nav nav > * { padding-right: 1.5rem }
	#nav > :not(nav)::after {
		position: absolute;
		right: 0.5em;
		content: '\276F'; /* right chevron */
		color: #999;
	}
	#logo { height: 2rem }
	#nav input { width: 100% }
	#nav > .active::before {
		content: '';
		position: absolute;
		top: 3px; bottom: 3px; left: 5px;
		width: 3px;
		background: #777;
	}
	#nav > :not(#logo):not(nav) {
		position: relative;
		padding-left: 16px;
	}
	#nav > .active + nav { background: #000 }
	#nav nav {
		padding-left: 32px;
		background: #161616;
	}
	#nav nav a {
		display: block;
		line-height: 2rem;
		height: 2rem;
	}
	#nav nav a::before {
		content: '\FF1E\00a0'; /* greater than, non-breaking space */
		color: #aaa;
	}
}
@media (min-width: 1500px) and (min-height: 30em) {
	#nav { position: fixed }
}