#main { min-height: 600px }
#output { width: 100% }
@media (max-width: 719px) {
	#row { flex-direction: column }
	#ta-cont {
		height: 400px;
		flex-grow: 1;
	}
	#output {
		height: 560px;
		margin-top: 6px;
	}
}
@media (min-width: 720px) {
	#row { height: 0 }
	#ta-cont {
		flex-shrink: 0;
		width: 60%;
	}
	#output { margin-left: 8px }
	body:not(.fullscreen) #ta-cont { min-width: calc(99% - 640px) }
	.fullscreen #ta-cont { width: calc(20% + 28ch) }
}
@media (min-width: 850px) {
	.fullscreen #ta-cont { width: calc(40% + 9ch) }
}
@media (min-width: 1200px) {
	.fullscreen #ta-cont { width: calc(20% + 36ch) }
}
@media (min-width: 1500px) {
	#ta-cont { margin-bottom: 0 }
	.fullscreen #ta-cont { width: calc(5% + 70ch) }
}