#ides { max-width: 1800px }
#ides a {
	background: rgba(16, 140, 255, 0.8);
	transition: background 0.2s;
	color: #000;
	display: block;
	text-decoration: none;
}
#ides a:hover { background: rgba(24, 160, 255, 0.8) }
#ides img {
	display: block;
	background: #000;
	padding: 4px;
	border-radius: 4px;
}
#content {
	display: flex;
	flex-direction: column;
	padding-bottom: 4px;
}
#main {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}
#ta-cont {
	flex: 1 0 0;
	position: relative;
	overflow: auto;
	border: 1px solid #fff;
}
#code, #code-display {
	display: block;
	min-height: 100%;
	padding: 0;
	margin: 2px;
	color: #fff;
	background: transparent;
	font-family: monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 1rem;
	line-height: 1.2;
	resize: none;
	outline: none;
	border: none;
	padding-left: 4px;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}
#code {
	position: absolute;
	top: 0; right: 0;
	z-index: 1;
	color: transparent;
}
#code-display {
	width: calc(100% - 4px);
	border-left: 1px solid #444;
}
#caret {
	display: inline-block;
	position: absolute;
	background: #fff;
	width: 1px;
}
#caret[hidden] { display: none }
#output {
	float: right;
	width: 450px;
	margin-left: 8px;
}
@media (max-width: 1400px) {
	#ta-cont, #output { zoom: 0.95 }
}
@media (max-width: 1200px) {
	#ta-cont, #output { zoom: 0.9 }
}
@media (max-width: 1000px) {
	#ta-cont, #output { zoom: 0.85 }
}
@media (max-width: 800px) {
	#output { width: 48% }
}