#ides { max-width: 1800px }
#ides a {
	background: rgba(16, 140, 255, 0.8);
	transition: background 0.2s;
	color: #000;
	display: block;
	text-decoration: none;
}
#ides a:hover { background: rgba(24, 160, 255, 0.8) }
#ides img {
	display: block;
	background: #000;
	padding: 0.25em;
	border-radius: 0.25em;
}
#content {
	display: flex;
	flex-direction: column;
	padding-bottom: 0.25em;
}
#main {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}
#output {
	float: right;
	width: 450px;
	margin-left: 8px;
}
@media (max-width: 800px) {
	#output { width: 48% }
}