#right, #outputbox, #left {
	display: flex;
	flex-direction: column;
}
#outputbox, #output, .ta-cont, #right { flex-grow: 1 }
.ta-cont {
	margin: 2px 0;
	flex-basis: 0;
}
.collapsed {
	flex-basis: 3em;
	flex-grow: 0.1;
}
#js-cont { margin-bottom: 0 }
#outputbox { margin-bottom: 2px }
@media (max-width: 699px) {
	#row { flex-direction: column }
	#left {
		height: 900px;
		flex-grow: 3;
	}
	#right {
		height: 400px; width: 100%;
		flex-grow: 1;
		margin-bottom: 0.5em;
	}
}
@media (min-width: 700px) {
	#row {
		flex-direction: row-reverse;
		height: 0;
	}
	#left {
		flex-shrink: 0;
		width: 50%;
	}
	#right { margin-left: 0.5em }
}